.CarListWrap {
    position: relative;
    background:#e4e7e9 ;
}

.typefilter {
    overflow: hidden;
    position:sticky;
    width: 100vw;
    background:#a7a7a7 ;
    display: flex ;
    justify-content: left;
}

.typefilter > button {
    background:#8B8B8B ;
    color: white;
    font-size: 14px ;
    border: none;
    padding: 2px 5px;
    min-width:45px;
}

.filter > button:focus {
    background-color: rgb(86, 148, 148);
    
}

.carListWrap{
    
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

.carListWrap img {
    width: 50px;
    min-width: 1.1rem;
    border-radius: 10px;
}